body {
    background:linear-gradient(45deg,#1e1a4b);
    background:linear-gradient(45deg,#274f66);
    color: rgb(141, 190, 173);
}

img {
    width:20%;
    height:30%;
    border: 4%;
    border-color: rgb(38, 87, 99);
}