header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #d8b6a0;
    padding: 20px;
  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 4.5rem;
  }
  
  .header-img {
    width: 6rem;
    height: auto;
    border-radius: 10px;
  }