header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #d8b6a0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 28px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .Img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-left: 30%;
  }