footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.35rem;
  background-color: #d8b6a0;
  padding: 1rem;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.insta,
.gmail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gmail{
  margin-left: 3rem;
}

.footer-img {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}
